---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
IT Professional | Software Engineering | IT Infrastructure Management | Application Development
Experienced IT professional with a strong background in software engineering, IT infrastructure management, and
application development. Currently serving as an IT & Programming Officer at the Institute of Epidemiology, Disease
Control, and Research (IEDCR), a government organization in Bangladesh specializing in epidemiology and public
health.
Proficient in designing and implementing digital tools, managing server infrastructure, and developing scalable software
solutions using modern frameworks like Java Spring. Skilled in developing robust applications using PHP, Laravel
Framework, Python, Flask Framework, and Node.js, demonstrating versatility across various technology stacks.
Expertise also includes integrating fingerprint and security devices such as Netgin and ZKTeco with applications for
seamless device-to-software communication.
Key competencies extend to frontend and backend development, mobile and desktop applications, database
design/administration, ERP implementation, and network solutions. Strong focus on applying object-oriented design
principles to deliver innovative and scalable solutions tailored to organizational requirements.`;
---

<Layout title="Golam Mostofa.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Hello , Greetings from Golam Mostofa</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://github.com/mostofa62" class="btn btn-lg sm:min-w-64">Visit My Github</a>
    </p>
</Layout>
